<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quizocrats-Quiz</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<style>
  body{
    background-image: url(https://cdn.wallpapersafari.com/55/16/STPlzv.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
  }
    header{
    position: fixed;
    width: 100%;
    height: 70px;
    padding: 0 30px;
    background: #74d1ef;
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    }
    
    header .title{
    font-size: 20px;
    font-weight: 600;
    }
    
    header .timer{
      
    color: #004085;
    background: #cce5ff;
    border: 1px solid #b8daff;
    height: 45px;
    padding: 0 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
    }
    
    header .timer .time_left_txt{
    font-weight: 400;
    font-size: 17px;
    user-select: none;
    }
    
    header .timer .timer_sec, header .timer .timer_sec1{
    font-size: 18px;
    font-weight: 500;
    height: 30px;
    width: 45px;
    color: #fff;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    background: #343a40;
    border: 1px solid #343a40;
    user-select: none;
    }
    .container{
     padding-top: 6%; 

    }
    .question{
      text-align: left;
      font-size: x-large;
    }
    .form-check-label{
        font-size: large;
    }
</style>

<body> 
  <header>
    <div class="title">Quizocrats</div>
    <div class="timer">
        <div class="time_left_txt">Time Left</div>
        <div class="timer_sec">10</div>
        <div class="timer_sec1">00</div>
    </div>
    
</header>
    <form>

        <div class="container">
          <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <p class="question">1.What are the types of lists available in HTML?</p>
          </div>
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">
              <div class="form-check">
                <input class="form-check-input" type="radio">
                <label class="form-check-label" for="opt_1">
                  Ordered, Unordered Lists
                </label>
            </div>
            </h4>
          </div>
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">
              <div class="form-check">
                <input class="form-check-input" type="radio">
                <label class="form-check-label" for="opt_2">
                  Bulleted, Numbered Lists
                </label>
            </div>
            </h4>
          </div>
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">
              <div class="form-check">
                <input class="form-check-input" type="radio">
                <label class="form-check-label" for="opt_3">
                  Named, Unnamed Lists
                </label>
            </div>
            </h4>
          </div>
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">
              <div class="form-check">
                <input class="form-check-input" type="radio">
                <label class="form-check-label" for="opt_4">
                  None of the above
                </label>
            </div>
            </h4>
          </div>
        </div>
        <div class="container">
          <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <p class="question">2.Which of the following is correct about HTML?</p>
          </div>
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">
              <div class="form-check">
                <input class="form-check-input" type="radio">
                <label class="form-check-label" for="opt_1">
                  HTML uses User Defined Tags
                </label>
            </div>
            </h4>
          </div>
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">
              <div class="form-check">
                <input class="form-check-input" type="radio">
                <label class="form-check-label" for="opt_2">
                  HTML uses tags defined within the language
                </label>
            </div>
            </h4>
          </div>
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">
              <div class="form-check">
                <input class="form-check-input" type="radio">
                <label class="form-check-label" for="opt_3">
                  Both
                </label>
            </div>
            </h4>
          </div>
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">
              <div class="form-check">
                <input class="form-check-input" type="radio">
                <label class="form-check-label" for="opt_4">
                  None of the above
                </label>
            </div>
            </h4>
          </div>
        </div>
        <div class="container">
          <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <p class="question">3.Which character is used to indicate an end tag?</p>
          </div>
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">
              <div class="form-check">
                <input class="form-check-input" type="radio">
                <label class="form-check-label" for="opt_1">
                    ^
                </label>
            </div>
            </h4>
          </div>
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">
              <div class="form-check">
                <input class="form-check-input" type="radio">
                <label class="form-check-label" for="opt_2">
                    #
                </label>
            </div>
            </h4>
          </div>
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">
              <div class="form-check">
                <input class="form-check-input" type="radio">
                <label class="form-check-label" for="opt_3">
                    *
                </label>
            </div>
            </h4>
          </div>
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">
              <div class="form-check">
                <input class="form-check-input" type="radio">
                <label class="form-check-label" for="opt_4">
                    /
                </label>
            </div>
            </h4>
          </div>
        </div>
        <div class="container">
          <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <p class="question">4.Which attribute is used to provide a unique name to an HTML element?</p>
          </div>
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">
              <div class="form-check">
                <input class="form-check-input" type="radio">
                <label class="form-check-label" for="opt_1">
                    id
                </label>
            </div>
            </h4>
          </div>
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">
              <div class="form-check">
                <input class="form-check-input" type="radio">
                <label class="form-check-label" for="opt_2">
                    class
                </label>
            </div>
            </h4>
          </div>
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">
              <div class="form-check">
                <input class="form-check-input" type="radio">
                <label class="form-check-label" for="opt_3">
                    type
                </label>
            </div>
            </h4>
          </div>
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">
              <div class="form-check">
                <input class="form-check-input" type="radio">
                <label class="form-check-label" for="opt_4">
                  None of the above
                </label>
            </div>
            </h4>
          </div>
        </div>
        <div class="container">
          <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <p class="question">5.Which HTML attribute specifies an alternate text for an image, if the image cannot be displayed?</p>
          </div>
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">
              <div class="form-check">
                <input class="form-check-input" type="radio">
                <label class="form-check-label" for="opt_1">
                    src
                </label>
            </div>
            </h4>
          </div>
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">
              <div class="form-check">
                <input class="form-check-input" type="radio">
                <label class="form-check-label" for="opt_2">
                    alt
                </label>
            </div>
            </h4>
          </div>
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">
              <div class="form-check">
                <input class="form-check-input" type="radio">
                <label class="form-check-label" for="opt_3">
                    longdesc
                </label>
            </div>
            </h4>
          </div>
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">
              <div class="form-check">
                <input class="form-check-input" type="radio">
                <label class="form-check-label" for="opt_4">
                    title
                </label>
            </div>
            </h4>
          </div>
        </div>

        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
          <p class="fs-5 text-body-secondary">
            <a class="btn btn-success" href="/samplequizanswers" role="button">Submit</a>
          </p>
        </div>
          
        
    </form>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<script>
  const timeText = document.querySelector(".timer .time_left_txt");
  const timeCount = document.querySelector(".timer .timer_sec");
  const timeCount1 = document.querySelector(".timer .timer_sec1");
  startTimer(59,10-1); 
  function startTimer(time1,time){
    counter = setInterval(timer, 1000);
    function timer(){
        timeCount.textContent = time;
        timeCount1.textContent = time1;
        time1--;
        if(time1 < 9){ 
            let addZero = timeCount1.textContent; 
            timeCount1.textContent = "0" + addZero; 
        }
        if(time1==0){
            if(time==0){
                showResult();
            }
            time1=60;
            time--; 

        }
        
        
        if(time < 10){ 
            let addZero = timeCount.textContent; 
            timeCount.textContent = "0" + addZero; 
        }
            
    }
}
</script>
</html>